@import url ('reset.css');

html{
  overflow-y: scroll;
}

body {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
  color: #9b9b9b;
  padding: 0;
  background-color: #efefef;
}

#wrapper {
  max-width: 980px;
  margin: 1em auto;
}

h1 {
  color: #666;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6em;
  margin-top:1.8em;
  line-height: 1.2em;
  transition: all ease-in-out 0.4s;
}

h1:hover { color: #333;}

sandbox-post p { width: 80%;}

li {
  list-style: none;
}

a {
  text-decoration:none ;
  outline: none;
}

/*------HEADER-------*/

header {margin: 1.2em 0 4em 0;}

/* LOGO */

#logo-container{
  width: 34%;
  float: left;
}

#logo {
  width: 100%;
  vertical-align: middle;
  opacity: 0.7;
  transition: all ease-in-out 0.4s;
}

#logo:hover{ opacity: 0.9;}

/* MENU */

#main-menu{
  float: right;
  text-transform: capitalize;
  }

#main-menu ul li{
  display: inline-block;
  margin-left: 1em;

}

#main-menu ul li a:after {
  padding-bottom: 0.25em;
  border-bottom: 2px solid #666;
  display: block;
  content: "";
  width: 0%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#main-menu ul li a:hover:after {
  border-bottom: 2px solid #333;
  display: block;
  content: "";
  width: 100%;
  opacity: 1;
}

#main-menu ul li.current a:after {
  border-bottom: 2px solid #333;
  display: block;
  content: "";
  width: 100%;
  opacity: 1;
  transition: none;
}

#main-menu ul li a.current { color: #333;}

#main-menu ul li a{
  color:#666;
  vertical-align: middle;
  transition: all ease-in-out 0.4s;

}

#main-menu ul li a:hover{
  color:#333;
}

#burger { display: none;}

.clear-floats:after{
  content: "";
  clear: both;
  display: block;
}


/* HOME */

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.gallery-image-container {
  column-count: 2;
  column-gap: 10px;
}

.gallery-image-wrapper {
  background-color: #000;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.gallery-image, .project-image, .sandbox-image {
  display: block;
  width: 100%;
  height: auto;
  transition: all linear 0.4s;

}

.gallery-image:hover{
  opacity: 0.6;
  filter: grayscale(50%);
}

.gallery-caption {
  color: #efefef;
  position: absolute;
  bottom: -100px;
  left: 30px;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 500;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: all ease-in-out 0.6s;
  font-weight: 500;
}

a:hover .gallery-caption {
  bottom: 10px;
  opacity: 0.9;

}

.gallery-image-container:after {
  content: "";
  clear: both;
  display: block;

}

#gallery:after{
  content: "";
  clear: both;
  display: block
}

/* CONTACT */
#contact-container {
  min-height: 24em;
  margin-top: 10%;
}


.info {
  padding-bottom: 1.4em;
}

.info span {
  display: inherit;
}

.info a {
  color: #666;

}

.info a:hover {color: #333;}

/* SANDBOX */

.sandbox-post p {
  max-width: 720px;
}

.sandbox-post-image-wrapper {
  background-color: #333;
  overflow: hidden;
}

.sandbox-post-image {
  width: 100%;
  display: block;
  transition: all ease-in-out 0.4s;
}

.sandbox-post-image:hover {opacity: 0.6;}

/* SANBOX PROJECT */

.sandbox-project p {
  max-width: 700px;
}

.sandbox-project-image-wrapper {
  padding-bottom: 2%;
  overflow: hidden;
}


/* ABOUT */
#body-text p {
  max-width: 750px;
}

/* SINGLE PROJECT */

.project p {
  max-width: 720px;
}

.project-image-wrapper {
  overflow: hidden;
  padding-bottom: 2.5%;
}


/* PROJECT PROJECT */


/*----FOOTER----*/

#socials-menu {
  width:100%;
  padding: 0;
  margin: 3em auto;
  text-align: center;
}

#socials-menu li {
  display: inline;
  text-align: center;
}

#socials-menu a{
  opacity: 0.6;
  padding: 1em;
  transition: all ease-in-out 0.6s;
}

#socials-menu a:hover{ opacity: 1;}

#socials-menu img {
  height: 2.4em;
  width: 2.4em;
}

#socials-menu img:hover {
  opacity: 0.9;
}

#socials-menu:after{
  content: "";
  clear: both;
  display: block;
}

#copyright {
  text-align: center;
  margin: 2em auto;
  font-size: 0.8em;
}

#top-move img {
  margin: 0 auto;
  height: 1.6em;
  opacity: 0.5;
  display: block;
}

#top-move img:hover { opacity: 1;}

/*----MEDIA QUERIES----*/

/* VERY LARGE */
@media all and (min-width: 1920px) {

  #wrapper {
    max-width: 1440px;
    margin: 1em auto;
    font-size: 120%;
  }

  .gallery-image-container { column-count: 3;}
}

/* MEDIUM */

@media all and (max-width: 839px){

  header {margin: 1.2em 0 auto;}

  #logo-container{
    float: none;
    width: 50%;
    margin: 0 auto;
  }

  #main-menu { float: none;}

  #main-menu ul {
    text-align: center;
    width: 100%;
    margin: 2em auto;
    padding: 0;
  }

  #main-menu ul li {
    display: inline-block;
    margin:0 1em;
}
  .gallery-image-wrapper {
    width: 100%;
    margin-left:0;
  }
}


/* SMALL */

@media all and (max-width: 480px){

  h1 {text-align: center;}

  p {
    text-align: center;
    line-height: 1.5em;
  }

  #logo-container{
    float: none;
    width: 70%;
    margin: 0 auto;
  }

  #main-menu{
    float: none;
    opacity: 1;
    height: 270px;
    transition:all ease-in-out 0.6s ;
    transition-delay: 0.2s;
  }

  #main-menu.hidden {
    height: 0;
    opacity: 0;
    transform: scale(0.5);
  }

  #main-menu ul li{
    display: block;
    margin: 0.5em 5em;
    text-align: center;
  }

  #main-menu ul li a{
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
  }


  #main-menu ul li a:after{
    content: "";
    width: 0%;
    margin: 0 auto;
    opacity: 0;
    transition: all ease-in-out 0.4s;
  }

  #main-menu ul li a:hover:after{
    width: 100%;
    opacity: 1;
  }

  #burger-container {
    position: relative;
    margin: 2em auto;
  }

  #burger {
    display: block;
    cursor: pointer;
    width: 30px;
    margin: 0 auto;
  }

  #burger span {
    background: #666;
    display: block;
    height: 3px;
    margin-top: 6px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
  }

  #burger.open span:first-child{
    transform: rotate(45deg);
    top: 10px;
  }

  #burger.open span:nth-child(2){
    width: 0;
    opacity: 0;
  }

  #burger.open span:nth-child(3){
    transform: rotate(-45deg);
    top: -8px;
  }

   .gallery-image-container { column-count: 1;}

  .gallery-caption {
    width: 100%;
    left: 0;
    margin: 4% auto;
    display: block;
    text-align: center;
    z-index: 1;
   }

  .info { text-align: center;}

  #socials-menu a {padding: 0.5em}

  #socials-menu img {height: 2.4em}

}
